# Streamlit web app
streamlit==1.39.0

# Transformers for GPT-2 text generation
transformers==4.44.2
torch==2.4.1
sentencepiece
accelerate

# Diffusers for Stable Diffusion image generation
diffusers==0.30.2
safetensors
xformers
opencv-python
pillow

# Utilities
requests
textwrap3
